* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.overlays{
    background-color: #000000b2;
    background-image: linear-gradient(to right,black 25%,transparent 60%);
}

@media (max-width:640px) {
  .nav h1{
      display: none;
  }

  .nav .menu{
      display: initial;
  }
}

.nav-responsive{
  transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 1s;
}